body{
    background-color: rgb(252, 249, 249);
}
h1{
    color: aliceblue;
    text-align: center;
    background-color: rgb(240, 112, 245);
    border-radius: 50%;
}
div > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}